<section id="hero" class="wrapper-hero">
  <div class="container-hero-search">
    <!-- Форма пошуку -->
    <form id="search-form">
      <label>
        <svg class="icon-icon-location" width="14.5" height="14.5">
          <use href="/images/icons-sprite.svg#icon-icon-location"></use>
        </svg>
        <input type="text" name="search" placeholder="Enter the city" />
      </label>
      <button type="submit">
        <svg class="icon-social" width="14.5" height="14.5">
          <use href="/images/icons-sprite.svg#icon-Star"></use>
        </svg>
      </button>
    </form>
    <!-- Кнопки міст -->
    <div class="container-button-city">
      <button type="button">Kiev</button>
      <button type="button">Sumy</button>
      <button type="button">
        <svg class="icon-social" width="14.5" height="14.5">
          <use href="/images/icons-sprite.svg#icon-arrow"></use>
        </svg>
      </button>
    </div>
  </div>
  <!-- Контейнер для відображення інформації про місто та погоду -->
  <div class="container-info-city"></div>
  <!-- Кнопки TODAY та 5 DAYS -->
  <div class="container-button-days">
    <button class="btn-today">TODAY</button>
    <button class="btn-days">5 DAYS</button>
  </div>
  <!-- Контейнер для відображення інформації про дні -->
  <div class="container-info-days"></div>
</section>
